*.egg
*.egg-info
*.pyc
*$py.class
*~
.coverage
coverage.xml
build/
dist/
.tox/
nosetests.xml
.env*/
tmp/
Data*.fs*
*.sublime-project
*.sublime-workspace
.*.sw?
.sw?
.DS_Store
coverage
test
*.sqlite
.idea
.vscode
.fleet
/venv/
.venv/
/env/
*.map
*.log*
*__pycache__*
TODO.txt
how_checks_works.txt
temp.txt
app/utils/checks.py
*.bak
private_key.pem
public_key.pem
env.sh
./logs
logs/*