[loggers]
keys=root

[handlers]
keys=logfile,logconsole

[formatters]
keys=consoleformatter,fileformatter

[logger_root]
level=DEBUG
handlers=logfile,logconsole

[formatter_fileformatter]
format=[%(asctime)s.%(msecs)03d] %(levelname)s [%(pathname)s] - %(message)s
datefmt=%Y-%m-%d %H:%M:%S

[formatter_consoleformatter]
format=[%(asctime)s.%(msecs)03d] %(levelname)s [%(filename)s] - %(message)s
datefmt=%Y-%m-%d %H:%M:%S

[handler_logfile]
class=handlers.RotatingFileHandler
level=DEBUG
formatter=fileformatter
args=('logs/logfile','a', 100000, 25)

[handler_logconsole]
class=StreamHandler
level=INFO
formatter=consoleformatter
args=()
